<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="promptsPage">
      <h2 data-cy="promptsPageDetailsHeading"><span>Prompts Page</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ promptsPage.id }}</span>
        </dd>
        <dt><span>Prompted Entries</span></dt>
        <dd>
          <span>{{ promptsPage.promptedEntries }}</span>
        </dd>
        <dt><span>Date</span></dt>
        <dd>
          <span>{{ promptsPage.date | formatMediumDate }}</span>
        </dd>
        <dt><span>Emotion From Mood Picker</span></dt>
        <dd>
          <span>{{ promptsPage.emotionFromMoodPicker }}</span>
        </dd>
        <dt><span>Current Tab</span></dt>
        <dd>
          <span>{{ promptsPage.currentTab }}</span>
        </dd>
        <dt><span>Mood Picker</span></dt>
        <dd>
          <div *ngIf="promptsPage.moodPicker">
            <a [routerLink]="['/mood-picker', promptsPage.moodPicker.id, 'view']">{{ promptsPage.moodPicker.id }}</a>
          </div>
        </dd>
        <dt><span>Emotion Page</span></dt>
        <dd>
          <div *ngIf="promptsPage.emotionPage">
            <a [routerLink]="['/emotion-page', promptsPage.emotionPage.id, 'view']">{{ promptsPage.emotionPage.id }}</a>
          </div>
        </dd>
        <dt><span>Mood Journal Page</span></dt>
        <dd>
          <div *ngIf="promptsPage.moodJournalPage">
            <a [routerLink]="['/mood-journal-page', promptsPage.moodJournalPage.id, 'view']">{{ promptsPage.moodJournalPage.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/prompts-page', promptsPage.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
