<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-mood-picker-heading" data-cy="MoodPickerCreateUpdateHeading">Create or edit a Mood Picker</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_moodPickerID">Mood Picker ID</label>
          <input
            type="number"
            class="form-control"
            name="moodPickerID"
            id="field_moodPickerID"
            data-cy="moodPickerID"
            formControlName="moodPickerID"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_mood">Mood</label>
          <select class="form-control" name="mood" formControlName="mood" id="field_mood" data-cy="mood">
            <option [ngValue]="null"></option>
            <option *ngFor="let moods of moodsValues" [value]="moods">moods</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_navigationPortal">Navigation Portal</label>
          <select
            class="form-control"
            id="field_navigationPortal"
            data-cy="navigationPortal"
            name="navigationPortal"
            formControlName="navigationPortal"
            [compareWith]="compareNavigationPortal"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="navigationPortalOption" *ngFor="let navigationPortalOption of navigationPortalsCollection">
              {{ navigationPortalOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
