<div>
  <h2 id="page-heading" data-cy="UserDBHeading">
    <span>User DBS</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-user-db"
        [routerLink]="['/user-db/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new User DB </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="userDBS?.length === 0">
    <span>No User DBS found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="userDBS && userDBS.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="userID">
            <div class="d-flex">
              <span>User ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="email">
            <div class="d-flex">
              <span>Email</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="password">
            <div class="d-flex">
              <span>Password</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="phoneNumber">
            <div class="d-flex">
              <span>Phone Number</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="profilePicture">
            <div class="d-flex">
              <span>Profile Picture</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="userName">
            <div class="d-flex">
              <span>User Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="landingPage.id">
            <div class="d-flex">
              <span>Landing Page</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="progress.id">
            <div class="d-flex">
              <span>Progress</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let userDB of userDBS; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/user-db', userDB.id, 'view']">{{ userDB.id }}</a>
          </td>
          <td>{{ userDB.userID }}</td>
          <td>{{ userDB.email }}</td>
          <td>{{ userDB.password }}</td>
          <td>{{ userDB.phoneNumber }}</td>
          <td>
            <a *ngIf="userDB.profilePicture" (click)="openFile(userDB.profilePicture, userDB.profilePictureContentType)">Open</a>
            <span *ngIf="userDB.profilePicture">{{ userDB.profilePictureContentType }}, {{ byteSize(userDB.profilePicture) }}</span>
          </td>
          <td>{{ userDB.userName }}</td>
          <td>
            <div *ngIf="userDB.landingPage">
              <a [routerLink]="['/landing-page', userDB.landingPage.id, 'view']">{{ userDB.landingPage.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="userDB.progress">
              <a [routerLink]="['/progress', userDB.progress.id, 'view']">{{ userDB.progress.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/user-db', userDB.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/user-db', userDB.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(userDB)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
