<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet" />
    <title>PROMPTS</title>
  </head>
  <body [ngClass]="theme">
    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="main-nav">
              <a href="#" class="logo">
                <img src="assets/images/purefy-removebg-preview.webp" alt="" style="margin-top: 5px" />
              </a>
              <ul class="nav">
                <li><a routerLink="/Dashboard">Home</a></li>
                <li><a routerLink="/Challenges-Index">Challenges</a></li>
                <li><a routerLink="/MoodJournalPage" class="active">Mood Journal</a></li>
                <li><a routerLink="/Habits">Habit Tracker</a></li>
                <li><a routerLink="/Leaderboard">Leaderboards</a></li>
                <li>
                  <a routerLink="/Profilepage" class="profile-link">Profile <img src="assets/images/profile-header.jpg" alt="" /></a>
                </li>
              </ul>
              <a class="menu-trigger">
                <span>Menu</span>
              </a>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Page Content Start ***** -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="page-content">
            <h4 class="welcome-title">Journal in your emotions using prompts!</h4>
            <div class="font-size-slider-container" style="display: flex; align-items: center; justify-content: flex-end">
              <input
                type="range"
                min="0.5"
                max="2"
                step="0.1"
                [(ngModel)]="fontSizeMultiplier"
                (ngModelChange)="updateFontSize()"
                class="font-size-slider"
                style="margin-top: 2px; margin-right: 5px"
              />
              <button class="theme-toggle-button" (click)="toggleTheme()" style="margin-top: 2px">
                <i class="fas" [class.fa-moon]="theme === 'dark'" [class.fa-sun]="theme === 'light'"></i>
              </button>
            </div>
            <div class="intro-section-prompts">
              <p [style.fontSize]="fontSizeMultiplier + 'rem'">
                Below are some prompts specifically chosen according to your emotions. Feel free to use them to help you reflect and
                contemplate on your feelings.
              </p>
            </div>
            <!-- AI Prompts Carousel Here -->
            <div class="owl-features owl-carousel">
              <div class="item" *ngFor="let prompt of promptOptions; let i = index" (click)="updateSelectedPrompt(i)">
                <div class="thumb">
                  <h4 tabindex="0" role="tab" (keydown)="handle($event, i)">{{ prompt.prompt }}</h4>
                </div>
              </div>
            </div>
            <div class="journal-entry-form">
              <form id="journalForm" (ngSubmit)="savePromptedEntry()">
                <div class="form-group">
                  <label for="promptTitle">Title:</label>
                  <input type="text" id="promptTitle" [(ngModel)]="promptFeature.title" name="promptTitle" required />
                </div>
                <div class="form-group">
                  <p>
                    Selected Prompt: <span id="selectedPrompt">{{ promptFeature.prompt }}</span>
                  </p>
                </div>
                <div class="form-group">
                  <label for="promptContent">Content:</label>
                  <textarea
                    id="promptContent"
                    [(ngModel)]="promptFeature.content"
                    name="promptContent"
                    required
                    placeholder="What's on your mind?"
                  ></textarea>
                </div>
                <div class="form-group">
                  <label for="promptedEntryDate">Date:</label>
                  <input type="date" id="promptedEntryDate" [(ngModel)]="promptFeature.date" name="promptedEntryDate" required />
                </div>
                <button type="submit">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ***** Page Content End ***** -->

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <p [style.fontSize]="fontSizeMultiplier + 'rem'">
              Thanks for visiting our website, Purefy! <br />You are accessing an experimental web application developed by participants
              (Team 13) of the Team Project 2024 module.
            </p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
