<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="habit">
      <h2 data-cy="habitDetailsHeading"><span>Habit</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ habit.id }}</span>
        </dd>
        <dt><span>Habit ID</span></dt>
        <dd>
          <span>{{ habit.habitID }}</span>
        </dd>
        <dt><span>Habit Name</span></dt>
        <dd>
          <span>{{ habit.habitName }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/habit', habit.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
