<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet" />

    <title>Junk Food Start</title>
  </head>

  <body [ngClass]="theme">
    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <header class="header-area header-sticky">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="main-nav">
              <!-- ***** Logo Start ***** -->
              <a href="" class="logo">
                <img src="assets/images/purefy-removebg-preview.webp" alt="" style="margin-top: 5px" />
              </a>
              <ul class="nav">
                <li><a routerLink="/Dashboard">Home</a></li>
                <li><a routerLink="/Challenges-Index" class="active">Challenges</a></li>
                <li><a routerLink="/MoodJournalPage">Mood Journal</a></li>
                <li><a routerLink="/Habits">Habit Tracker</a></li>
                <li><a routerLink="/Leaderboard">Leaderboards</a></li>
                <li>
                  <a routerLink="/Profilepage" class="profile-link">Profile <img src="assets/images/profile-header.jpg" alt="" /></a>
                </li>
              </ul>
              <a class="menu-trigger">
                <span>Menu</span>
              </a>
              <!-- ***** Menu End ***** -->
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <div [ngSwitch]="currentState">
      <div *ngSwitchCase="'state1'">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="page-content">
                <div class="game-details">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="font-size-slider-container" style="display: flex; align-items: center; justify-content: flex-end">
                        <input
                          type="range"
                          min="0.5"
                          max="2"
                          step="0.1"
                          [(ngModel)]="fontSizeMultiplier"
                          (ngModelChange)="updateFontSize()"
                          class="font-size-slider"
                          style="margin-top: 2px; margin-right: 5px"
                        />
                        <button class="theme-toggle-button" (click)="toggleTheme()" style="margin-top: 2px">
                          <i class="fas" [class.fa-moon]="theme === 'dark'" [class.fa-sun]="theme === 'light'"></i>
                        </button>
                      </div>
                      <h2>Video Games</h2>
                    </div>

                    <div class="col-lg-12">
                      <div class="content">
                        <div class="row">
                          <div class="col-lg-6">
                            <div class="left-info">
                              <br />
                              <br />
                              <h3>Level 1</h3>
                            </div>
                          </div>
                          <div class="col-lg-6">
                            <div class="right-info">
                              <h5><em>A Nice Way To Start.</em></h5>
                            </div>
                          </div>
                          <div class="col-lg-12">
                            <br />
                            <br />
                            <h3>INSTRUCTIONS :</h3>
                            <br />
                            <h4>No Video Games For 12 Hours.</h4>
                          </div>

                          <div class="col-lg-12">
                            <br />
                            <p class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'">
                              Take a brief hiatus from video games, avoiding them for the next 12 hours. This short break is an excellent
                              opportunity to engage in different activities that you might have been neglecting, such as reading, spending
                              quality time with loved ones, or exploring a new hobby. This pause can also serve as a valuable moment to
                              reflect on your gaming habits and their impact on your daily life, possibly leading to a more balanced
                              approach to screen time.
                            </p>
                          </div>
                          <div class="col-lg-12">
                            <div class="asa">
                              <div *ngIf="!timerRunning('G1')" class="main-border-button">
                                <a
                                  href="#"
                                  (click)="startTimerAndChallenge('G1', 12, 'Video Games', '1'); $event.preventDefault(); sendPoints(1)"
                                  >START NOW!</a
                                >
                              </div>

                              <!-- Display time remaining and stop challenge link -->
                              <div *ngIf="timerRunning('G1')" class="main-border-button">
                                <h4>Time Remaining: {{ timers['G1'] }}</h4>
                                <br />
                                <div class="asa">
                                  <a
                                    href="#"
                                    (click)="
                                      stopTimerAndChallenge(
                                        'G1',
                                        'Video Games (This challenge was called off, and the date of cancellation is indicated below.)',
                                        '1'
                                      );
                                      $event.preventDefault();
                                      deductPoints(1)
                                    "
                                    >QUIT!</a
                                  >
                                  <a routerLink="/History">History</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- ***** Details End ***** -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngSwitchCase="'state2'">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="page-content">
                <!-- ***** Details Start ***** -->
                <div class="game-details">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="font-size-slider-container" style="display: flex; align-items: center; justify-content: flex-end">
                        <input
                          type="range"
                          min="0.5"
                          max="2"
                          step="0.1"
                          [(ngModel)]="fontSizeMultiplier"
                          (ngModelChange)="updateFontSize()"
                          class="font-size-slider"
                          style="margin-top: 2px; margin-right: 5px"
                        />
                        <button class="theme-toggle-button" (click)="toggleTheme()" style="margin-top: 2px">
                          <i class="fas" [class.fa-moon]="theme === 'dark'" [class.fa-sun]="theme === 'light'"></i>
                        </button>
                      </div>
                      <h2>Video Games</h2>
                    </div>
                    <div class="col-lg-12">
                      <div class="content">
                        <div class="row">
                          <div class="col-lg-6">
                            <div class="left-info">
                              <br />
                              <br />
                              <h3>Level 2</h3>
                            </div>
                          </div>
                          <div class="col-lg-6">
                            <div class="right-info">
                              <h3><em>You are good at self control?</em></h3>
                            </div>
                          </div>
                          <div class="col-lg-12">
                            <br />
                            <br />
                            <h3>INSTRUCTIONS :</h3>
                            <br />
                            <h4>No Video Games for A Day.</h4>
                          </div>

                          <div class="col-lg-12">
                            <br />

                            <p class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'">
                              Commit to not playing video games for an entire day. This 24-hour period allows you to redirect your focus and
                              energy towards other fulfilling activities. Whether it's tackling a project you've been postponing, getting
                              outdoors for some exercise, or simply taking the time to relax without digital distractions, a day without
                              gaming can refresh your perspective and contribute to your personal growth.
                            </p>
                          </div>
                          <div class="col-lg-12">
                            <div class="asa">
                              <div *ngIf="!timerRunning('G2')" class="main-border-button">
                                <a
                                  href="#"
                                  (click)="startTimerAndChallenge('G2', 24, 'Video Games', '2'); $event.preventDefault(); sendPoints(2)"
                                  >START NOW!</a
                                >
                              </div>

                              <!-- Display time remaining and stop challenge link -->
                              <div *ngIf="timerRunning('G2')" class="main-border-button">
                                <h4>Time Remaining: {{ timers['G2'] }}</h4>
                                <br />
                                <div class="asa">
                                  <a
                                    href="#"
                                    (click)="
                                      stopTimerAndChallenge(
                                        'G2',
                                        'Video Games (This challenge was called off, and the date of cancellation is indicated below.)',
                                        '2'
                                      );
                                      $event.preventDefault();
                                      deductPoints(2)
                                    "
                                    >QUIT!</a
                                  >
                                  <a routerLink="/History">History</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- ***** Details End ***** -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngSwitchCase="'state3'">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="page-content">
                <!-- ***** Details Start ***** -->
                <div class="game-details">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="font-size-slider-container" style="display: flex; align-items: center; justify-content: flex-end">
                        <input
                          type="range"
                          min="0.5"
                          max="2"
                          step="0.1"
                          [(ngModel)]="fontSizeMultiplier"
                          (ngModelChange)="updateFontSize()"
                          class="font-size-slider"
                          style="margin-top: 2px; margin-right: 5px"
                        />
                        <button class="theme-toggle-button" (click)="toggleTheme()" style="margin-top: 2px">
                          <i class="fas" [class.fa-moon]="theme === 'dark'" [class.fa-sun]="theme === 'light'"></i>
                        </button>
                      </div>
                      <h2>Video Games</h2>
                    </div>
                    <div class="col-lg-12">
                      <div class="content">
                        <div class="row">
                          <div class="col-lg-6">
                            <div class="left-info">
                              <br />
                              <br />
                              <h3>Level 3</h3>
                            </div>
                          </div>
                          <div class="col-lg-6">
                            <div class="right-info">
                              <h3><em>You are almost there.</em></h3>
                            </div>
                          </div>
                          <div class="col-lg-12">
                            <br />
                            <br />
                            <h3>INSTRUCTIONS :</h3>
                            <br />
                            <h4>No Video Games For A Week.</h4>
                          </div>

                          <div class="col-lg-12">
                            <br />

                            <p class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'">
                              Challenge yourself to a week without video games. This extended break can significantly impact your routine,
                              encouraging you to find new ways to occupy your time and entertain yourself. It's an opportunity to reconnect
                              with hobbies and interests that might have taken a backseat to gaming. Throughout this week, pay attention to
                              any changes in your sleep patterns, productivity, and overall mood, as these insights can be enlightening.
                            </p>
                          </div>
                          <div class="col-lg-12">
                            <div class="asa">
                              <div *ngIf="!timerRunning('G3')" class="main-border-button">
                                <a
                                  href="#"
                                  (click)="startTimerAndChallenge('G3', 168, 'Junk Food', '3'); $event.preventDefault(); sendPoints(3)"
                                  >START NOW!</a
                                >
                              </div>

                              <!-- Display time remaining and stop challenge link -->
                              <div *ngIf="timerRunning('G3')" class="main-border-button">
                                <h4>Time Remaining: {{ timers['G3'] }}</h4>
                                <br />
                                <div class="asa">
                                  <a
                                    href="#"
                                    (click)="
                                      stopTimerAndChallenge(
                                        'G3',
                                        'Video Games (This challenge was called off, and the date of cancellation is indicated below.)',
                                        '3'
                                      );
                                      $event.preventDefault();
                                      deductPoints(3)
                                    "
                                    >QUIT!</a
                                  >
                                  <a routerLink="/History">History</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- ***** Details End ***** -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngSwitchCase="'state4'">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="page-content">
                <!-- ***** Details Start ***** -->
                <div class="game-details">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="font-size-slider-container" style="display: flex; align-items: center; justify-content: flex-end">
                        <input
                          type="range"
                          min="0.5"
                          max="2"
                          step="0.1"
                          [(ngModel)]="fontSizeMultiplier"
                          (ngModelChange)="updateFontSize()"
                          class="font-size-slider"
                          style="margin-top: 2px; margin-right: 5px"
                        />
                        <button class="theme-toggle-button" (click)="toggleTheme()" style="margin-top: 2px">
                          <i class="fas" [class.fa-moon]="theme === 'dark'" [class.fa-sun]="theme === 'light'"></i>
                        </button>
                      </div>
                      <h2>Video Games</h2>
                    </div>
                    <div class="col-lg-12">
                      <div class="content">
                        <div class="row">
                          <div class="col-lg-6">
                            <div class="left-info">
                              <br />
                              <br />
                              <h3>Level 4</h3>
                            </div>
                          </div>
                          <div class="col-lg-6">
                            <div class="right-info">
                              <h3><em>Time to shine.</em></h3>
                            </div>
                          </div>
                          <div class="col-lg-12">
                            <br />
                            <br />
                            <h3>INSTRUCTIONS :</h3>
                            <br />
                            <h4>No Video Games For A Month!</h4>
                          </div>

                          <div class="col-lg-12">
                            <br />

                            <p class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'">
                              Embark on a month-long journey away from video games. This considerable period is a profound commitment to
                              exploring life beyond the gaming console or computer. It's a chance to deepen relationships, pursue long-term
                              goals, and develop new skills or hobbies that enrich your life in diverse ways. This time can also offer
                              clarity on the role gaming plays in your life and inspire a healthier balance moving forward. Reflect on this
                              experience to understand how it has influenced your well-being, time management, and priorities.
                            </p>
                          </div>
                          <div class="col-lg-12">
                            <div class="asa">
                              <div *ngIf="!timerRunning('G4')" class="main-border-button">
                                <a
                                  href="#"
                                  (click)="startTimerAndChallenge('G4', 720, 'Video Games', '4'); $event.preventDefault(); sendPoints(4)"
                                  >START NOW!</a
                                >
                              </div>

                              <!-- Display time remaining and stop challenge link -->
                              <div *ngIf="timerRunning('G4')" class="main-border-button">
                                <h4>Time Remaining: {{ timers['G4'] }}</h4>
                                <br />
                                <div class="asa">
                                  <a
                                    href="#"
                                    (click)="
                                      stopTimerAndChallenge(
                                        'G4',
                                        'Video Games (This challenge was called off, and the date of cancellation is indicated below.)',
                                        '4'
                                      );
                                      $event.preventDefault();
                                      deductPoints(4)
                                    "
                                    >QUIT!</a
                                  >
                                  <a routerLink="/History">History</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- ***** Details End ***** -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <p class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'">
              Thanks for visiting our website, Purefy!

              <br />You are accessing an experimental web application developed by participants (Team 13) of the Team Project 2024 module.
            </p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
