<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="points">
      <h2 data-cy="pointsDetailsHeading"><span>Points</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ points.id }}</span>
        </dd>
        <dt><span>Username</span></dt>
        <dd>
          <span>{{ points.username }}</span>
        </dd>
        <dt><span>Current Points</span></dt>
        <dd>
          <span>{{ points.currentPoints }}</span>
        </dd>
        <dt><span>Previous Points</span></dt>
        <dd>
          <span>{{ points.previousPoints }}</span>
        </dd>
        <dt><span>Total Points</span></dt>
        <dd>
          <span>{{ points.totalPoints }}</span>
        </dd>
        <dt><span>Leader Boards</span></dt>
        <dd>
          <div *ngIf="points.leaderBoards">
            <a [routerLink]="['/leader-boards', points.leaderBoards.id, 'view']">{{ points.leaderBoards.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/points', points.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
