<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="grouping">
      <h2 data-cy="groupingDetailsHeading"><span>Grouping</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ grouping.id }}</span>
        </dd>
        <dt><span>I D</span></dt>
        <dd>
          <span>{{ grouping.iD }}</span>
        </dd>
        <dt><span>Grouping Name</span></dt>
        <dd>
          <span>{{ grouping.groupingName }}</span>
        </dd>
        <dt><span>Grouping Points</span></dt>
        <dd>
          <span>{{ grouping.groupingPoints }}</span>
        </dd>
        <dt><span>Remaining Time</span></dt>
        <dd>
          <span>{{ grouping.remainingTime | duration }} ({{ grouping.remainingTime }})</span>
        </dd>
        <dt><span>Current Date</span></dt>
        <dd>
          <span>{{ grouping.currentDate | formatMediumDate }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/grouping', grouping.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
