<div>
  <h2 id="page-heading" data-cy="LandingPageHeading">
    <span>Landing Pages</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-landing-page"
        [routerLink]="['/landing-page/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Landing Page </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="landingPages?.length === 0">
    <span>No Landing Pages found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="landingPages && landingPages.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="getStarted">
            <div class="d-flex">
              <span>Get Started</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="about">
            <div class="d-flex">
              <span>About</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="team">
            <div class="d-flex">
              <span>Team</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="contact">
            <div class="d-flex">
              <span>Contact</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="moodPicker.id">
            <div class="d-flex">
              <span>Mood Picker</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let landingPage of landingPages; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/landing-page', landingPage.id, 'view']">{{ landingPage.id }}</a>
          </td>
          <td>{{ landingPage.getStarted }}</td>
          <td>{{ landingPage.about }}</td>
          <td>{{ landingPage.team }}</td>
          <td>{{ landingPage.contact }}</td>
          <td>
            <div *ngIf="landingPage.moodPicker">
              <a [routerLink]="['/mood-picker', landingPage.moodPicker.id, 'view']">{{ landingPage.moodPicker.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/landing-page', landingPage.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/landing-page', landingPage.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(landingPage)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
