<div>
  <h2 id="page-heading" data-cy="UserPointsHeading">
    <span>User Points</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-user-points"
        [routerLink]="['/user-points/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new User Points </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="userPoints?.length === 0">
    <span>No User Points found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="userPoints && userPoints.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="userID">
            <div class="d-flex">
              <span>User ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="currentPoints">
            <div class="d-flex">
              <span>Current Points</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="previousPoints">
            <div class="d-flex">
              <span>Previous Points</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="totalPoints">
            <div class="d-flex">
              <span>Total Points</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="leaderBoards.id">
            <div class="d-flex">
              <span>Leader Boards</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let userPoints of userPoints; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/user-points', userPoints.id, 'view']">{{ userPoints.id }}</a>
          </td>
          <td>{{ userPoints.userID }}</td>
          <td>{{ userPoints.currentPoints }}</td>
          <td>{{ userPoints.previousPoints }}</td>
          <td>{{ userPoints.totalPoints }}</td>
          <td>
            <div *ngIf="userPoints.leaderBoards">
              <a [routerLink]="['/leader-boards', userPoints.leaderBoards.id, 'view']">{{ userPoints.leaderBoards.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/user-points', userPoints.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/user-points', userPoints.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(userPoints)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
