<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-emotion-page-heading" data-cy="EmotionPageCreateUpdateHeading">Create or edit a Emotion Page</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_prompts">Prompts</label>
          <select class="form-control" name="prompts" formControlName="prompts" id="field_prompts" data-cy="prompts">
            <option [ngValue]="null"></option>
            <option *ngFor="let aIGeneratedPrompts of aIGeneratedPromptsValues" [value]="aIGeneratedPrompts">aIGeneratedPrompts</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_date">Date</label>
          <div class="input-group">
            <input
              id="field_date"
              data-cy="date"
              type="text"
              class="form-control"
              name="date"
              ngbDatepicker
              #dateDp="ngbDatepicker"
              formControlName="date"
            />
            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_promptedEntry">Prompted Entry</label>
          <input
            type="text"
            class="form-control"
            name="promptedEntry"
            id="field_promptedEntry"
            data-cy="promptedEntry"
            formControlName="promptedEntry"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_currentTab">Current Tab</label>
          <select class="form-control" name="currentTab" formControlName="currentTab" id="field_currentTab" data-cy="currentTab">
            <option [ngValue]="null"></option>
            <option *ngFor="let tabLabel of tabLabelValues" [value]="tabLabel">tabLabel</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_moodPicker">Mood Picker</label>
          <select
            class="form-control"
            id="field_moodPicker"
            data-cy="moodPicker"
            name="moodPicker"
            formControlName="moodPicker"
            [compareWith]="compareMoodPicker"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="moodPickerOption" *ngFor="let moodPickerOption of moodPickersCollection">{{ moodPickerOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
