<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet" />

    <title>Alcohol Start</title>
  </head>

  <body [ngClass]="theme">
    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <header class="header-area header-sticky">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="main-nav">
              <!-- ***** Logo Start ***** -->
              <a href="" class="logo">
                <img src="assets/images/purefy-removebg-preview.webp" alt="" style="margin-top: 5px" />
              </a>
              <ul class="nav">
                <li><a routerLink="/Dashboard">Home</a></li>
                <li><a routerLink="/Challenges" class="active">Challenges</a></li>
                <li><a routerLink="/MoodJournalPage">Mood Journal</a></li>
                <li><a href="">Habit Tracker</a></li>
                <li><a routerLink="/Leaderboard">Leaderboards</a></li>
                <li>
                  <a routerLink="/Profilepage" class="profile-link">Profile <img src="assets/images/profile-header.jpg" alt="" /></a>
                </li>
              </ul>
              <a class="menu-trigger">
                <span>Menu</span>
              </a>
              <!-- ***** Menu End ***** -->
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <div [ngSwitch]="currentState">
      <div *ngSwitchCase="'state1'">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="page-content">
                <div class="game-details">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="font-size-slider-container" style="display: flex; align-items: center; justify-content: flex-end">
                        <input
                          type="range"
                          min="0.5"
                          max="2"
                          step="0.1"
                          [(ngModel)]="fontSizeMultiplier"
                          (ngModelChange)="updateFontSize()"
                          class="font-size-slider"
                          style="margin-top: 2px; margin-right: 5px"
                        />
                        <button class="theme-toggle-button" (click)="toggleTheme()" style="margin-top: 2px">
                          <i class="fas" [class.fa-moon]="theme === 'dark'" [class.fa-sun]="theme === 'light'"></i>
                        </button>
                      </div>
                      <h2>Alcohol</h2>
                    </div>

                    <div class="col-lg-12">
                      <div class="content">
                        <div class="row">
                          <div class="col-lg-6">
                            <div class="left-info">
                              <br />
                              <br />
                              <h3>Level 1</h3>
                            </div>
                          </div>
                          <div class="col-lg-6">
                            <div class="right-info">
                              <h5><em>A Nice Way To Start.</em></h5>
                            </div>
                          </div>
                          <div class="col-lg-12">
                            <br />
                            <br />
                            <h3>INSTRUCTIONS :</h3>
                            <br />
                            <h4>No Alcohol For A Day.</h4>
                          </div>

                          <div class="col-lg-12">
                            <br />

                            <p class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'">
                              For today, the directive is clear and straightforward: abstain from consuming alcohol in any form. This
                              temporary pause serves as a beneficial break for your body, allowing your system to detoxify and recuperate.
                              Abstaining from alcohol, even just for a day, can contribute to better hydration, improved sleep quality, and
                              a reduction in calorie intake, which are essential for overall health and well-being. Use this opportunity to
                              explore alternative beverages such as water, herbal teas, or fruit-infused drinks that can offer hydration and
                              enjoyment without the effects of alcohol. Embrace this alcohol-free day as a positive step towards mindful
                              consumption and a healthier lifestyle.
                            </p>
                          </div>

                          <div class="col-lg-12">
                            <div class="asa">
                              <div *ngIf="!timerRunning('A1')" class="main-border-button">
                                <a
                                  href="#"
                                  (click)="startTimerAndChallenge('A1', 24, 'Alcohol', '1'); $event.preventDefault(); sendPoints(1)"
                                  >START NOW!</a
                                >
                              </div>

                              <!-- Display time remaining and stop challenge link -->
                              <div *ngIf="timerRunning('A1')" class="main-border-button">
                                <h4>Time Remaining: {{ timers['A1'] }}</h4>
                                <br />
                                <div class="asa">
                                  <a
                                    href="#"
                                    (click)="
                                      stopTimerAndChallenge(
                                        'A1',
                                        'Alcohol (This challenge was called off, and the date of cancellation is indicated below.)',
                                        '1'
                                      );
                                      $event.preventDefault();
                                      deductPoints(1)
                                    "
                                    >QUIT!</a
                                  >
                                  <a routerLink="/History">History</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- ***** Details End ***** -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngSwitchCase="'state2'">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="page-content">
                <!-- ***** Details Start ***** -->
                <div class="game-details">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="font-size-slider-container" style="display: flex; align-items: center; justify-content: flex-end">
                        <input
                          type="range"
                          min="0.5"
                          max="2"
                          step="0.1"
                          [(ngModel)]="fontSizeMultiplier"
                          (ngModelChange)="updateFontSize()"
                          class="font-size-slider"
                          style="margin-top: 2px; margin-right: 5px"
                        />
                        <button class="theme-toggle-button" (click)="toggleTheme()" style="margin-top: 2px">
                          <i class="fas" [class.fa-moon]="theme === 'dark'" [class.fa-sun]="theme === 'light'"></i>
                        </button>
                      </div>
                      <h2>Alcohol</h2>
                    </div>
                    <div class="col-lg-12">
                      <div class="content">
                        <div class="row">
                          <div class="col-lg-6">
                            <div class="left-info">
                              <br />
                              <br />
                              <h3>Level 2</h3>
                            </div>
                          </div>
                          <div class="col-lg-6">
                            <div class="right-info">
                              <h3><em>You are good at self control?</em></h3>
                            </div>
                          </div>
                          <div class="col-lg-12">
                            <br />
                            <br />
                            <h3>INSTRUCTIONS :</h3>
                            <br />
                            <h4>No Alcohol For A Week.</h4>
                          </div>

                          <div class="col-lg-12">
                            <br />

                            <p class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'">
                              This week, we are focusing on a healthful practice by eliminating alcohol from our routine. The goal is to
                              abstain from any alcoholic beverages for the entire week. This break from alcohol can contribute to numerous
                              health benefits, including improved sleep, better hydration, and potentially more stable mood and energy
                              levels. During this period, try to find alternative beverages that you enjoy, such as water, herbal teas, or
                              fruit-infused drinks, to keep yourself hydrated and satisfied. It's also a great opportunity to explore new
                              habits and activities that don't revolve around alcohol consumption. By participating in this alcohol-free
                              week, you're taking a positive step towards enhancing your overall health and well-being.
                            </p>
                          </div>

                          <div class="col-lg-12">
                            <div class="asa">
                              <div *ngIf="!timerRunning('A2')" class="main-border-button">
                                <a
                                  href="#"
                                  (click)="startTimerAndChallenge('A2', 168, 'Alcohol', '2'); $event.preventDefault(); sendPoints(2)"
                                  >START NOW!</a
                                >
                              </div>

                              <!-- Display time remaining and stop challenge link -->
                              <div *ngIf="timerRunning('A2')" class="main-border-button">
                                <h4>Time Remaining: {{ timers['A2'] }}</h4>
                                <br />
                                <div class="asa">
                                  <a
                                    href="#"
                                    (click)="
                                      stopTimerAndChallenge(
                                        'A2',
                                        'Alcohol (This challenge was called off, and the date of cancellation is indicated below.)',
                                        '2'
                                      );
                                      $event.preventDefault();
                                      deductPoints(2)
                                    "
                                    >QUIT!</a
                                  >
                                  <a routerLink="/History">History</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- ***** Details End ***** -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngSwitchCase="'state3'">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="page-content">
                <!-- ***** Details Start ***** -->
                <div class="game-details">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="font-size-slider-container" style="display: flex; align-items: center; justify-content: flex-end">
                        <input
                          type="range"
                          min="0.5"
                          max="2"
                          step="0.1"
                          [(ngModel)]="fontSizeMultiplier"
                          (ngModelChange)="updateFontSize()"
                          class="font-size-slider"
                          style="margin-top: 2px; margin-right: 5px"
                        />
                        <button class="theme-toggle-button" (click)="toggleTheme()" style="margin-top: 2px">
                          <i class="fas" [class.fa-moon]="theme === 'dark'" [class.fa-sun]="theme === 'light'"></i>
                        </button>
                      </div>
                      <h2>Alcohol</h2>
                    </div>
                    <div class="col-lg-12">
                      <div class="content">
                        <div class="row">
                          <div class="col-lg-6">
                            <div class="left-info">
                              <br />
                              <br />
                              <h3>Level 3</h3>
                            </div>
                          </div>
                          <div class="col-lg-6">
                            <div class="right-info">
                              <h3><em>You are almost there.</em></h3>
                            </div>
                          </div>
                          <div class="col-lg-12">
                            <br />
                            <br />
                            <h3>INSTRUCTIONS :</h3>
                            <br />
                            <h4>No Alcohol For Two Weeks.</h4>
                          </div>

                          <div class="col-lg-12">
                            <br />

                            <p class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'">
                              For the next two weeks, it's important to abstain from consuming any alcoholic beverages. This temporary break
                              from alcohol can have numerous benefits for your health, including improved sleep quality, better hydration,
                              and potentially aiding in weight management. During this period, focus on hydrating with water, herbal teas,
                              or other non-alcoholic drinks to support your body's natural processes. If you find yourself in social
                              situations where alcohol is present, consider opting for non-alcoholic alternatives to stay aligned with your
                              goal. Remember, this period of abstention is a positive step towards promoting your overall well-being, giving
                              your body a chance to reset and recover.
                            </p>
                          </div>

                          <div class="col-lg-12">
                            <div class="asa">
                              <div *ngIf="!timerRunning('A3')" class="main-border-button">
                                <a
                                  href="#"
                                  (click)="startTimerAndChallenge('A3', 336, 'Alcohol', '3'); $event.preventDefault(); sendPoints(3)"
                                  >START NOW!</a
                                >
                              </div>

                              <!-- Display time remaining and stop challenge link -->
                              <div *ngIf="timerRunning('A3')" class="main-border-button">
                                <h4>Time Remaining: {{ timers['A3'] }}</h4>
                                <br />
                                <div class="asa">
                                  <a
                                    href="#"
                                    (click)="
                                      stopTimerAndChallenge(
                                        'A3',
                                        'Alcohol (This challenge was called off, and the date of cancellation is indicated below.)',
                                        '3'
                                      );
                                      $event.preventDefault();
                                      deductPoints(3)
                                    "
                                    >QUIT!</a
                                  >
                                  <a routerLink="/History">History</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- ***** Details End ***** -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngSwitchCase="'state4'">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="page-content">
                <!-- ***** Details Start ***** -->
                <div class="game-details">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="font-size-slider-container" style="display: flex; align-items: center; justify-content: flex-end">
                        <input
                          type="range"
                          min="0.5"
                          max="2"
                          step="0.1"
                          [(ngModel)]="fontSizeMultiplier"
                          (ngModelChange)="updateFontSize()"
                          class="font-size-slider"
                          style="margin-top: 2px; margin-right: 5px"
                        />
                        <button class="theme-toggle-button" (click)="toggleTheme()" style="margin-top: 2px">
                          <i class="fas" [class.fa-moon]="theme === 'dark'" [class.fa-sun]="theme === 'light'"></i>
                        </button>
                      </div>
                      <h2>Alcohol</h2>
                    </div>
                    <div class="col-lg-12">
                      <div class="content">
                        <div class="row">
                          <div class="col-lg-6">
                            <div class="left-info">
                              <br />
                              <br />
                              <h3>Level 4</h3>
                            </div>
                          </div>
                          <div class="col-lg-6">
                            <div class="right-info">
                              <h3><em>Time to shine.</em></h3>
                            </div>
                          </div>
                          <div class="col-lg-12">
                            <br />
                            <br />
                            <h3>INSTRUCTIONS :</h3>
                            <br />
                            <h4>No Alcohol For A Month!</h4>
                          </div>

                          <div class="col-lg-12">
                            <br />

                            <p class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'">
                              For the next month, you are to completely abstain from consuming alcohol. This commitment to a temporary
                              alcohol-free period can offer numerous health benefits, including improved sleep quality, increased energy
                              levels, and potentially better hydration and weight management. To successfully navigate this month, consider
                              substituting alcoholic beverages with healthier alternatives such as water, herbal teas, or non-alcoholic
                              mocktails. Engaging in this challenge also provides an opportunity to explore new activities or hobbies that
                              don't center around alcohol consumption. Mark your calendar from today, and let's embark on this journey
                              towards a healthier lifestyle together. Remember, the goal is to focus on the positive changes you'll notice
                              in your body and mind during this alcohol-free period.
                            </p>
                          </div>

                          <div class="col-lg-12">
                            <div class="asa">
                              <div *ngIf="!timerRunning('A4')" class="main-border-button">
                                <a
                                  href="#"
                                  (click)="startTimerAndChallenge('A4', 720, 'Alcohol', '4'); $event.preventDefault(); deductPoints(4)"
                                  >START NOW!</a
                                >
                              </div>

                              <!-- Display time remaining and stop challenge link -->

                              <div *ngIf="timerRunning('A4')" class="main-border-button">
                                <h4>Time Remaining: {{ timers['A4'] }}</h4>
                                <br />
                                <div class="asa">
                                  <a
                                    href="#"
                                    (click)="
                                      stopTimerAndChallenge(
                                        'A4',
                                        'Alcohol (This challenge was called off, and the date of cancellation is indicated below.)',
                                        '4'
                                      );
                                      $event.preventDefault();
                                      deductPoints(4)
                                    "
                                    >QUIT!</a
                                  >
                                  <a routerLink="/History">History</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- ***** Details End ***** -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <p class="dynamic-text-size" [style.fontSize]="fontSizeMultiplier + 'rem'">
              Thanks for visiting our website, Purefy!

              <br />You are accessing an experimental web application developed by participants (Team 13) of the Team Project 2024 module.
            </p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
