<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="filtered">
      <h2 data-cy="filteredDetailsHeading"><span>Filtered</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ filtered.id }}</span>
        </dd>
        <dt><span>Search</span></dt>
        <dd>
          <span>{{ filtered.search }}</span>
        </dd>
        <dt><span>Results</span></dt>
        <dd>
          <span>{{ filtered.results }}</span>
        </dd>
        <dt><span>Filtering</span></dt>
        <dd>
          <span>{{ filtered.filtering }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/filtered', filtered.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
