<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-screen-time-heading" data-cy="ScreenTimeCreateUpdateHeading">Create or edit a Screen Time</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_selectCategory">Select Category</label>
          <input
            type="checkbox"
            class="form-check"
            name="selectCategory"
            id="field_selectCategory"
            data-cy="selectCategory"
            formControlName="selectCategory"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_videoGames">Video Games</label>
          <select
            class="form-control"
            id="field_videoGames"
            data-cy="videoGames"
            name="videoGames"
            formControlName="videoGames"
            [compareWith]="compareVideoGames"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="videoGamesOption" *ngFor="let videoGamesOption of videoGamesSharedCollection">
              {{ videoGamesOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_movies">Movies</label>
          <select
            class="form-control"
            id="field_movies"
            data-cy="movies"
            name="movies"
            formControlName="movies"
            [compareWith]="compareMovies"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="moviesOption" *ngFor="let moviesOption of moviesSharedCollection">{{ moviesOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_socialMedia">Social Media</label>
          <select
            class="form-control"
            id="field_socialMedia"
            data-cy="socialMedia"
            name="socialMedia"
            formControlName="socialMedia"
            [compareWith]="compareSocialMedia"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="socialMediaOption" *ngFor="let socialMediaOption of socialMediasSharedCollection">
              {{ socialMediaOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_music">Music</label>
          <select class="form-control" id="field_music" data-cy="music" name="music" formControlName="music" [compareWith]="compareMusic">
            <option [ngValue]="null"></option>
            <option [ngValue]="musicOption" *ngFor="let musicOption of musicSharedCollection">{{ musicOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
