<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet" />
    <title>Login</title>
  </head>

  <body>
    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>

    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="main-nav">
              <a href="" class="logo">
                <img src="assets/images/purefy-removebg-preview.webp" alt="" style="margin-top: 5px" />
              </a>

              <ul class="nav">
                <li><a routerLink="/Dashboard">Home</a></li>
                <li><a routerLink="/Challenges-Index">Challenges</a></li>
                <li><a routerLink="/MoodJournalPage">Mood Journal</a></li>
                <li><a routerLink="/Habits">Habit Tracker</a></li>
                <li><a routerLink="/Leaderboard">Leaderboards</a></li>
                <li>
                  <a routerLink="/Profilepage" class="active">Profile <img src="assets/images/profile-custom.jpg" alt="" /></a>
                </li>
              </ul>
              <a class="menu-trigger">
                <span>Menu</span>
              </a>
              <!-- ***** Menu End ***** -->
            </nav>
          </div>
        </div>
      </div>
    </header>

    <div style="height: 80vh; display: flex; justify-content: center; align-items: center">
      <div
        style="
          width: 700px;
          padding: 20px;
          background: white;
          border-radius: 8px;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          margin-top: 200px;
        "
      >
        <h1 style="text-align: center; color: #333">Sign in</h1>
        <p style="color: #ff3333; text-align: center" *ngIf="authenticationError">
          Failed to sign in! Please check your credentials and try again.
        </p>
        <form style="margin-top: 20px" (ngSubmit)="login()" [formGroup]="loginForm">
          <div style="margin-bottom: 20px">
            <label for="username" style="font-size: 14px; color: #777">Username</label>
            <input
              type="text"
              style="width: 100%; padding: 10px; border: 1px solid #ddd; border-radius: 4px"
              id="username"
              formControlName="username"
              placeholder="Enter your username"
            />
          </div>
          <div style="margin-bottom: 20px">
            <label for="password" style="font-size: 14px; color: #777">Password</label>
            <input
              type="password"
              style="width: 100%; padding: 10px; border: 1px solid #ddd; border-radius: 4px"
              id="password"
              formControlName="password"
              placeholder="Enter your password"
            />
          </div>
          <div style="display: flex; align-items: center; margin-bottom: 20px">
            <input type="checkbox" id="rememberMe" formControlName="rememberMe" style="margin-right: 10px" />
            <label for="rememberMe" style="font-size: 14px; color: #777">Remember me</label>
          </div>
          <button
            type="submit"
            style="
              width: 100%;
              padding: 10px;
              background: #fc663f;
              border: none;
              color: black;
              border-radius: 4px;
              cursor: pointer;
              transition: background 0.3s ease;
            "
            onmouseover="this.style.background='#fc4821';"
            onmouseout="this.style.background='#fc663f';"
          >
            Sign in
          </button>
        </form>

        <div style="text-align: center; margin-top: 20px">
          <a routerLink="/account/reset/request" style="color: #fc663f">Did you forget your password?</a>
        </div>
        <div style="text-align: center; margin-top: 10px">
          <span>You don't have an account yet? </span>
          <a routerLink="/account/register" style="color: #fc663f">Register a new account</a>
        </div>
      </div>
    </div>

    <footer style="margin-top: 100px">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <p>
              Thanks for visiting our website, Purefy!
              <br />You are accessing an experimental web application developed by participants (Team 13) of the Team Project 2024 module.
            </p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>

<style>
  @import 'vendor/bootstrap/css/bootstrap.min';
  @import 'assets/css/templatemo-cyborg-gaming';
  @import 'assets/css/fontawesome';
</style>
