<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="newMoodPicker">
      <h2 data-cy="newMoodPickerDetailsHeading"><span>New Mood Picker</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ newMoodPicker.id }}</span>
        </dd>
        <dt><span>Username</span></dt>
        <dd>
          <span>{{ newMoodPicker.username }}</span>
        </dd>
        <dt><span>Mood</span></dt>
        <dd>
          <span>{{ newMoodPicker.mood }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/new-mood-picker', newMoodPicker.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
