<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="history">
      <h2 data-cy="historyDetailsHeading"><span>History</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ history.id }}</span>
        </dd>
        <dt><span>Challenge Name</span></dt>
        <dd>
          <span>{{ history.challengeName }}</span>
        </dd>
        <dt><span>Challenge Level</span></dt>
        <dd>
          <span>{{ history.challengeLevel }}</span>
        </dd>
        <dt><span>Date Started</span></dt>
        <dd>
          <span>{{ history.dateStarted | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Username</span></dt>
        <dd>
          <span>{{ history.username }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/history', history.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
