<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-new-weekly-habit-tracker-heading" data-cy="NewWeeklyHabitTrackerCreateUpdateHeading">
        Create or edit a New Weekly Habit Tracker
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_recordID">Record ID</label>
          <input type="number" class="form-control" name="recordID" id="field_recordID" data-cy="recordID" formControlName="recordID" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_habitCompletion">Habit Completion</label>
          <input
            type="checkbox"
            class="form-check"
            name="habitCompletion"
            id="field_habitCompletion"
            data-cy="habitCompletion"
            formControlName="habitCompletion"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_date">Date</label>
          <div class="input-group">
            <input
              id="field_date"
              data-cy="date"
              type="text"
              class="form-control"
              name="date"
              ngbDatepicker
              #dateDp="ngbDatepicker"
              formControlName="date"
            />
            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_weeklySummary">Weekly Summary</label>
          <select
            class="form-control"
            id="field_weeklySummary"
            data-cy="weeklySummary"
            name="weeklySummary"
            formControlName="weeklySummary"
            [compareWith]="compareWeeklySummary"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="weeklySummaryOption" *ngFor="let weeklySummaryOption of weeklySummariesCollection">
              {{ weeklySummaryOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_habit">Habit</label>
          <select class="form-control" id="field_habit" data-cy="habit" name="habit" formControlName="habit" [compareWith]="compareHabit">
            <option [ngValue]="null"></option>
            <option [ngValue]="habitOption" *ngFor="let habitOption of habitsSharedCollection">{{ habitOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
