<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="socialMedia">
      <h2 data-cy="socialMediaDetailsHeading"><span>Social Media</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ socialMedia.id }}</span>
        </dd>
        <dt><span>Levels</span></dt>
        <dd>
          <span>{{ socialMedia.levels }}</span>
        </dd>
        <dt><span>Progress</span></dt>
        <dd>
          <span>{{ socialMedia.progress }}</span>
        </dd>
        <dt><span>Timer</span></dt>
        <dd>
          <span>{{ socialMedia.timer | duration }} ({{ socialMedia.timer }})</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/social-media', socialMedia.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
