<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-setting-heading" data-cy="SettingCreateUpdateHeading">Create or edit a Setting</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_notificationsEnabled">Notifications Enabled</label>
          <input
            type="checkbox"
            class="form-check"
            name="notificationsEnabled"
            id="field_notificationsEnabled"
            data-cy="notificationsEnabled"
            formControlName="notificationsEnabled"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_accountDeletionRequested">Account Deletion Requested</label>
          <input
            type="checkbox"
            class="form-check"
            name="accountDeletionRequested"
            id="field_accountDeletionRequested"
            data-cy="accountDeletionRequested"
            formControlName="accountDeletionRequested"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_changePassword">Change Password</label>
          <input
            type="checkbox"
            class="form-check"
            name="changePassword"
            id="field_changePassword"
            data-cy="changePassword"
            formControlName="changePassword"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
