<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-timer-heading" data-cy="TimerCreateUpdateHeading">Create or edit a Timer</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_startTime">Start Time</label>
          <div class="input-group">
            <input
              id="field_startTime"
              data-cy="startTime"
              type="text"
              class="form-control"
              name="startTime"
              ngbDatepicker
              #startTimeDp="ngbDatepicker"
              formControlName="startTime"
            />
            <button type="button" class="btn btn-secondary" (click)="startTimeDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_isActive">Is Active</label>
          <input type="checkbox" class="form-check" name="isActive" id="field_isActive" data-cy="isActive" formControlName="isActive" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_timings">Timings</label>
          <select
            class="form-control"
            id="field_timings"
            data-cy="timings"
            name="timings"
            formControlName="timings"
            [compareWith]="compareUserDB"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="userDBOption" *ngFor="let userDBOption of userDBSSharedCollection">{{ userDBOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
